<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!-- for localhost debugging -->
    <add name="evms_connString" connectionString="Data Source=.\SQLExpress;Integrated Security=true;AttachDbFilename=|DataDirectory|\ABNK_EVMS.mdf;Connect Timeout=30;User Instance=True; Enlist=False;" providerName="System.Data.SqlClient" />
    <!-- for deployment on a live server -->
    <!-- <add connectionString="Server=AMAZONA-5K26GFQ;Database=GEMSDB;User ID=sa;Password=2|2in2b3" name="evms_connString" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="regLink" value="http://54.251.39.56/GemsWeb/Event.aspx?EventID="/>
    <add key="clientTimeout" value ="10" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeContent"
                hostNameComparisonMode="StrongWildcard"  receiveTimeout="00:10:00" sendTimeout="00:10:00"
                openTimeout="00:10:00" closeTimeout="00:10:00" maxReceivedMessageSize="65536000"
                maxBufferSize="65536000" maxBufferPoolSize="524288000"
                transferMode="Buffered" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="evmsService.EvmsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IEvent" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IProgramme" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="ITasks" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IGuest" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IAdministration" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="INotifications" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IRole" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IFacility" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IFacilityBookings" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IEventItems" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IServiceContact" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IRegistration" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IBudget" />

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IParticipantsTransactions" />

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IWizard" />

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IRequest" />

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IArtefact" />

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeContent"
          contract="IExport" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <!-- WebHttpBinding -->
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="REST" contract="IMobile" />

      </service>
    </services>
    <behaviors>
      <!--WebHttpBinding!-->
      <endpointBehaviors>
        <behavior name="REST">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <!-- END  WebHttpBinding!-->
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <!-- add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime maxRequestLength="5242880"/>
  </system.web>
</configuration>